@font-face{
    font-family: titulosDuff;
    src: url(../../../assets/fonts/titulo_Duff.otf);
}
@font-face{
    font-family: textosDuff;
    src: url(../../../assets/fonts/texto_Duff.ttf);
}

main{
    height: 166vh;

}
.container{
    display: flex;
    background-color: #CC232B;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    
}
.nosotros{
    display: flex;
    width: 80%;
    height: 29%;
    justify-content: space-around;
    align-items: center;
    background-color: #FFE248;
    border-radius: 25px;
}
.imagen,
.info-container{
    width: 49%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen img{
    height: 100%;
}


.info{
    
    width: 95%;
    height: 80%;
    margin: auto;
}
.info h3{
    text-align: center;
    font-family: "titulosDuff";
    font-size: 60px;
    letter-spacing: 3px;
    color: #CC232B;
}
.info p{
    margin-top: 25px;
    padding: 10px;
    font-family: "textosDuff";
    font-size: 35px;
    letter-spacing: 1px;
    color: #CC232B;
    text-align: justify;
}